/* Initially hidden elements */
#add-items {
  display: none;
}

/* Styles for splash-screen */
html {
  height: 100%;
}

body {
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-image: url(assets/images/yosemite.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #111111;
  font-family: 'Heebo', sans-serif;
}

#splash-screen .jumbotron {
  margin-top: 4%;
  background-color: transparent;
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
}

#splash-screen .jumbotron h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
  font-weight: bolder;
  text-align: center;
  margin-top: -2%;
  margin-bottom: -2%;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: #111111;
}

form#initialize-trip {
  border-radius: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  border: 2px solid #f5f5f5;
  background-color: #eeeeee75;
}

form#initialize-trip h4 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2em;
  color: #f5f5f5;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #111111;
  margin-top: 2%;
}

form#initialize-trip button.btn {
  margin-top: 2%;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.5em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #111111;
  background-color: #94acca;
  border: 2px solid #07250e;
  color: #07250e;
}

form#initialize-trip button.btn:hover {
  margin-top: 2%;
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #07250e;
  border: 2px solid #07250e;
  color: #f5f5f5;
}

input.form-control, input.form-control:focus, input.form-control:active {
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: #111111;
}

/* Styles for "add-items" main screen */
#add-items .jumbotron {
  margin-top: 2%;
  background-color: #eeeeee75;
  border: 2px solid #f5f5f5;
}

#add-items .jumbotron h3 {
  font-weight: bolder;
  color: #111111;
  text-align: center;
}

input.form, input.form:focus, input.form:active {
  box-shadow: none;
  outline: none;
  border: 1px solid #111111;
  border-radius: 10px;
  margin-left: 1%;
  background-color: #eeeeee75;
  height: 2em;
  color: #111111;
}

select.form {
  background-color: #eeeeee75;
  height: 2em;
}

form#add-camper button.btn, form#add-known-item button.btn, form#add-other-item button.btn {
  border: 1px solid #07250e;
  background-color: transparent;
  height: 2em;
}

form#add-camper button.btn {
  margin-left: 1%;
}

form#add-camper button.btn:hover, form#add-known-item button.btn:hover, form#add-other-item button.btn:hover {
  border: 1px solid #07250e;
  background-color: #07250e;
  color: #f5f5f5;
  height: 2em;
}

#campers {
  margin-left: 0px;
  max-height: 1000px;
  width: 100%;
  overflow-y: auto;
}

#campers .card {
  background-color: #eeeeee75;
  border: 2px solid #111111;
  border-radius: 20px;
  margin: 1%;
}

#campers .card .card-body {
  height: 300px;
  width: 90%;
  /* margin: 1%; */
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}

#campers .card .card-header {
  text-align: center;
}

#campers .box {
  max-height: 100px;
  max-width: 100px;
  height: 100px;
  width: 100px;
  border: 2px solid #111111;
  margin: 1%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#added-items {
  margin-top: 1%;
  border: 2px solid #111111;
  background-color: #eeeeee75;
  border-radius: 20px;
  min-height: 350px;
  max-height: 600px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#added-items .box {
  height: 100px;
  width: 100px;
  max-height: 100px;
  max-width: 100px;
  border: 2px solid #111111;
  margin: 1%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

img {
  object-fit: contain;
  max-width: 75px;
  max-height: 75px;
  pointer-events: none;
}

#trails {
  border: 2px solid #111111;
  border-radius: 20px;
  margin-top: 2%;
  padding: 2%;
  background-color: #eeeeee75;
}

#trail-info li {
  cursor: pointer;
}

button#save-trip {
  border: 2px solid #111111;
  width: 100%;
}